html, body{
  height: 100%;
}

.full-height{
  height: 100%;
  width: 100%;
}

#container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: 1fr;
}

#left-side {
  background-color: black;
  height: 100%;
}

#right-side {
  background-color: #ffffff;
  height: 100%;
}