html, body{
  height: 100%;
}

h1{
  color: #ffffff;
  font-family: "futura", sans-serif;
  font-weight: 200;
  font-size: 4.5vw;
  padding: 1vw 0vw;
}

p{
  color: #ffffff;
  font-family: "futura", sans-serif;
  font-size: 2vw;
  font-style: italic;
  padding: 4vw 0vw;
}

button{
  background-color: #ffffff;
  font-family: "futura", sans-serif;
  font-size: 2vw;
  text-align: center;
  padding: 1vw;
  border-radius: 3vw;
}

#p2{
  padding-bottom: 0vw !important;
}

#container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: 1fr;
}

#left-side {
  background-color: black;
  height: 100%;
  text-align: center;
}

#right-side {
  background-color: #ffffff;
  height: 100%;
}

